@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /* Importa fonte do Google Fonts */

@font-face { /* Regra para importar fontes externas */
    font-family:'MorrisRomanBlack';
    src: url('fonts/MorrisRomanBlack.otf') format('opentype'), url('fonts/MorrisRomanBlack.ttf') format('truetype'); /* O melhor entre .otf e .ttf depende do navegador. Tipos de format(): opentype (.otf), truetype (.ttf), embedded-opentype, truetype-aat (Apple Advanced Typography), svg */
}

html {
    font-size: 1rem; /* Existem várias formas para representar medidas de fonte: medidas absolutas (cm, mm, in, px, pt, pc) e medidas relativas (em, ex, ch, rem, vw, vh, vmin, vmax, %). O W3C recomenda o uso de medidas relativas para melhorar a acessibilidade, especialmente rem (root em = tamanho da fonte definido no elemento <html>, raiz, que é por padrão 16px), mais previsível que em (que pode acumular tamanhos) */
}

body {
    background-image: linear-gradient(to bottom, #BF8563, #594B2F);
    background-attachment: fixed;

    font-family: 'Work Sans', Arial, Helvetica, sans-serif; /* Categorias de fontes: serif (serifadas); sans-serif (não-serifadas); monospace (monoespaçadas); cursive/script (imitações de manuscrita); fantasy/decorative/display (decorativas) */
    font-weight: 500; /* Pesos: 100 (ultra-light), 200 (extra-light), 300 (light), 400 (normal/regular), 500 (medium), 600 (semi-bold/demi-bold), 700 (bold), 800 (extra-bold), 900 (black) */
    font-style: normal; /* normal, italic, oblique (itálico simulado, usado quando a fonte não tem variação itálica própria)*/
    text-decoration: none; /* none, underline, overline, line-through*/
}

main { /* Retângulo de conteúdo dentro da página */
    background-color: white;
    color: black;
    width: 90%; /* Largura fluida */
    max-width: 1000px;
    padding: 10px; /* Preenchimento ou margem interna para o texto */
    margin: auto; /* Margem externa para centralizar o conteúdo, independentemente do tamanho da janela */
    border-radius: 10px; /* Arredonda as bordas */
    box-shadow: 10px 10px 80px #8c262680; /* Parâmetros de sombreamento: deslocamento horizontal (offset-x), deslocamento vertical (offset-y), raio de desfoque (blur-radius) e cor da sombra */
}

h1, h2 {
    font: oblique 700 2rem 'MorrisRomanBlack', Times, serif; /* Shorthand font: font-style font-weight font-size font-family */
}

h1 {
    color: #8C2626;
    text-align: center;
    text-shadow: 1px 1px 2px #594B2F;
}

h2 {
    color: #A68965;
}

p {
    text-align: justify;
    text-indent: 20px; /* Indenta a primeira linha do parágrafo */
}

h2#identificador { /* Seletor personalizado para o título de segundo nível marcado com a tag id="identificador" */
    color: darkgoldenrod;
}

#id-generico { /* Seletor personalizado para o elemento (qualquer) marcado com a tag id="id-generico" */
    color: blueviolet;
}

.classe { /* Cada identificador deve ser exclusivo a uma única tag; para aplicar o mesmo estilo a multiplos elementos, o correto é usar classes. Também pode ser especificado qual elemento, como no id, mas é mais usual não especificar, pela reusabilidade */
    color: crimson;
}

.destaque {
    background-color: #ffff0080;
}

div {
    display: inline-block; /* define como um elemento é exibido na página (inline, block, inline-block, none) */
    background-color: #BF8563;
    border: 1px solid black; /* shorthand que aceita os parâmetros: largura estilo (none, solid, dashed, dotted, double, groove, ridge, inset, outset) cor */
    height: 200px;
    width: 250px;
}

div:hover { /* Pseudoclasse = estado de um elemento estilizável (deve estar relacionada a um elemento ou a uma classe) */
    background-color: #594B2F;
}

div:active {
    background-color: #8C2626;
}

div > p.invisivel-hover, /* div > p = para o p que é filho de div */
div > p.invisivel-active {
    display: none; /* Por padrão não exibe nenhum texto escondido */
}

div:hover > p.visivel,
div:hover > p.invisivel-active {
    display: none; /* Ao passar o mouse, oculta o texto inicial e o que aparece no clique */
}

div:hover > p.invisivel-hover {
    display: block; /* Ao passar o mouse, exibe o texto escondido */
}

div:active > p.visivel,
div:active > p.invisivel-hover {
    display: none; /* Ao clicar, oculta o texto inicial e o que aparece no clique */
}

div:active > p.invisivel-active {
    display: block; /* Ao clicar, exibe o segundo texto escondido */
}

a {
    color: crimson;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color:#594B2F;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: darkgoldenrod;
}

a::before { /* Pseudo-elemento = aplica estilo ou insere conteúdo em partes específicas de um elemento */
    content: '🔗';
    color: #BF8563;
    text-decoration: none;
}

a::after { 
    content: ' (link externo)';
    color: #BF8563;
    text-decoration: none;
}