* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #F55A5A;
    padding-top: 10px;
    padding-bottom: 12px;
    text-align: center;
}

header > h1 {
    font-size: 1.8rem;
    font-weight: 500;
}

main {
    padding: 50px;
    background-color: antiquewhite;
}

#cartoes {
    display: grid;
    gap: 25px;
}

.cartao {
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.imagem-cartao {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.conteudo-cartao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.conteudo-cartao > .local > span {
    margin-right: 20px;
    font-family: monospace;
    font-size: 1.1rem;
}

.conteudo-cartao > .local > a {
    color: grey;
}

.conteudo-cartao > h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

.conteudo-cartao > .date {
    font-weight: 700;
}