/* 0. Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo: #ffffff;
    --borda: #e5e5e5;
    --sombra: #0000001a;
    --texto: #2b2b2b;
    --texto-destaque: #666666;
    --fundo-alt: var(--texto);
    --texto-alt: var(--borda);
}

body {
    background-color: var(--fundo);
    color: var(--texto);
    font-family: 'Inter', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* 1. Header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 1rem 0;

    background-color: var(--fundo);
    border-bottom: 1px solid var(--borda);

    box-shadow: 0 2px 8px var(--sombra);
}

header img {
    width: 50px;
    height: 50px;
}

header h1 {
    font-size: 2rem;
    font-weight: 300;
}

/* 2. Main */

main {
    flex: 1;
    padding: 2rem 1rem;
}

.add-ingredient-form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.add-ingredient-form > input {
    border: 2px solid var(--sombra);
    border-radius: 0.5rem;
    padding: 0.5rem;

    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: var(--texto);
}

.add-ingredient-form > input::placeholder {
    color: var(--texto-destaque);
}

.add-ingredient-form > button {
    background-color: var(--fundo-alt);
    border: 1px solid var(--sombra);
    border-radius: 0.5rem;
    padding: 0.5rem;

    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--texto-alt);

    cursor: pointer;
}

.add-ingredient-form > button::before {
    content: '+';
    margin-right: 0.5rem;
}

ul {
    padding: 1rem 0;
    list-style-position: inside;
}

/* 3. Footer */

footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 1rem;

    border-top: 1px solid var(--borda);

    box-shadow: 0 -2px 8px var(--sombra);

    font-size: 0.9rem;
    text-align: center;
}

footer a {
    color: var(--texto-destaque);
    text-decoration: none;
    transition: color 0.2s ease;
}

footer a:hover {
    color: var(--texto);
    text-decoration: underline;
}