@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui padding e border na largura e altura totais do elemento */
}

html, body {
    width: 100vw;
    height: 100vh;
    background: #110320 url("../imagens/fundo-cyberpunk.png") no-repeat center right fixed;
    background-size: cover;
    overflow-x: hidden;
}

main {
    height: 100vh;
    
    position: relative;
}

section#telefone {
    width: 311px;
    height: 627px;
    background: url("../imagens/frame-iphone.png") no-repeat;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#tela {
    position: relative;
    top: 83px;
    left: 24px;

    width: 263px;
    height: 466px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #ffffff80;
}

section#redes-sociais img:hover {
    border: 2px solid #ffffff;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 10px #ffffff;
    transition: transform .2s, box-shadow .2s;
}