@charset "UTF-8";

:root {
    --cor-fundo-fonte: #142617;
    --cor-borda: #284027;
    --cor-formulario: #F28B30;
    --cor-destaque: #F24405;
    --cor-caixas: #BF0404;
    --cor-luz: #ffb980;
    --cor-luz-fraca: #ffb98020;
}

@media screen and (orientation: landscape),
       screen and (orientation: portrait) and (min-width: 768px) {
    body {
        position: relative;
        background: var(--cor-fundo-fonte);
    }
    
    main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 700px;
        margin: auto;
        border: 5px solid var(--cor-borda);
        border-radius: 20px;
        box-shadow: 0 0 10px var(--cor-luz-fraca);
        padding: 0;
    }

    main div#imagem {
        vertical-align: top;
        overflow: hidden;
        float: left;
    }

    main img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 66%;
    }

    main div#formulario {
        vertical-align: top;
        overflow-y: auto;
        float: right;
        border: 0;
    }

    main div#formulario h1, main div#formulario p, fieldset, fieldset div#nome {
        margin-bottom: 20px;
    }

    fieldset {
        padding: 20px;
    }
}

/* Dispositivos orientação landscape */
@media screen and (orientation: landscape) {
    main div#imagem {
        display: inline-block;
        width: 40%;
        height: 80vh;
    }

    main img {
        border-radius: 15px 0 0 15px;
    }

    main div#formulario {
        width: 60%;
        height: 80vh;
        border-left: 5px solid var(--cor-borda);
        border-radius: 0 15px 15px 0;
    }
}

/* Telas maiores em orientação portrait */
@media screen and (orientation: portrait) and (min-width: 768px) {
    html {
        font-size: 20px;
    }
    
    main div#imagem {
        display: block;
        width: 100%;
        height: 40vh;
    }

    main img {
        border-radius: 15px 15px 0 0;
    }

    main div#formulario {
        width: 100%;
        height: 40vh;
        border-top: 5px solid var(--cor-borda);
        border-radius: 0 0 15px 15px;
    }
}