@charset "UTF-8";

:root {
    --cor-fundo-fonte: #142617;
    --cor-borda: #284027;
    --cor-formulario: #F28B30;
    --cor-destaque: #F24405;
    --cor-caixas: #BF0404;
    --cor-luz: #ffb980;
    --cor-luz-fraca: #ffb98040;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--cor-fundo-fonte) url("../imagens/halloween.jpg") center 66% / cover no-repeat fixed;
}

main {
    color: var(--cor-fundo-fonte);
    padding-top: 10px;
}

main img {
    display: none;
}

main div#formulario {
    width: 95vw;
    background-color: var(--cor-formulario);
    margin: auto;
    border: 5px solid var(--cor-borda);
    border-radius: 20px 0;
    box-shadow: inset 0 0 10px var(--cor-caixas);
    padding: 20px;
    text-align: center;
}

main div#formulario h1 {
    margin-bottom: 10px;
}

main div#formulario p {
    margin-bottom: 10px;
    text-align: justify;
}

fieldset {
    display: inline-block;
    margin-bottom: 10px;
    border: 5px groove var(--cor-destaque);
    box-shadow: inset 0 0 8px var(--cor-caixas);
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

fieldset div#nome {
    margin-bottom: 10px;
}

input {
    background-color: var(--cor-formulario);
    color: var(--cor-fundo-fonte);
    border: 5px dashed var(--cor-destaque);
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    transition: box-shadow 1s;
}

input:hover {
    border-style: solid;
}

input:focus {
    border-style: groove;
    box-shadow: inset 0 0 10px var(--cor-luz);
}