@charset "UTF-8";

@font-face {
    font-family: "UnifrakturMaguntia";
    src: url(../fontes/UnifrakturMaguntia-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "CormorantGaramond";
    src: url(../fontes/CormorantGaramond-VariableFont_wght.ttf) format("truetype");
}

:root {
    --fonte-padrao: "CormorantGaramond", Times, serif;
    --fonte-titulo: "UnifrakturMaguntia", "CormorantGaramond", Times, serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh; /* Garante que o fundo sempre ocupe a tela inteira, mesmo que o conteúdo seja pequeno */
    background-color: darkgray;

    font: 500 25px var(--fonte-padrao); /* font-weight font-size font-family */
}

header, footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    padding: 20px 0 10px 0;
    font: 500 50px var(--fonte-titulo);
}

header > p {
    padding: 10px 0 20px 0;
}

header a, footer a {
    color: white;
    font-weight: 800;
    text-decoration: none;
    white-space: nowrap;
}

header > p > a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding: 5vh 5vw;
    line-height: 1.5rem;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: #222222;
    color: white;
    box-shadow: inset 0 0 10px 0px black;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

section#img1 {
    background-image: url("../imagens/raven.png");
    text-align: left;
}

section#img2 {
    background-image: url("../imagens/wisp.jpg");
    text-align: right;
}

div.fundo {
    display: inline-block;
    background-color: #000000aa;
}

section p {
    padding: 20px;
}

section.imagem p {
    text-shadow: 1px 1px 1px black;
}

footer > p {
    font-size: 20px;
}