@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@font-face {
    font-family: "Philosopher";
    src: url(../fontes/Philosopher.ttf) format("truetype");
    font-weight: normal;
}

:root {
    --cor-logo-e-links2: #0033bf;
    --cor-cabecalho1-e-links3: #F3E278;
    --cor-cabecalho2: #C59538;
    --cor-cabecalho3-e-hover: #805B1D;

    --cor-menu-e-footer: #44220b;
    --cor-aside-e-links1: #8ba6c7;

    --cor-background-claro: #D9C8A9;
    --cor-background-escuro: #C8A36A;
    --cor-sombra-e-strong: #282115;

    --fonte-padrao: "Times New Roman", Times, serif;
    --fonte-titulos: "Lora", serif; /*entender melhor função, depois trocar nome "destaque"*/
    --fonte-logo: "Philosopher", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui padding e border no cálculo de dimensões do navegador, para considerar o tamanho real do elemento todo ao controlar width */
}

html, body {
    min-height: 100%; /* Garante que o body tenha pelo menos a altura da tela, mas permite que aumente se houver mais conteúdo (evitando scroll com fundo em branco) */

    font-family: var(--fonte-padrao);
}

body {
    background-image: linear-gradient(0deg, var(--cor-background-escuro), var(--cor-background-claro));
    background-size: cover; /* Faz o gradiente cobrir toda a área do <body>, ajustando-se à largura e altura do conteúdo */
}

header {
    position: relative; /* Cria um novo nível de empilhamento */
    z-index: 1; /* Empilha header sobre o nav (com a configuração de z-index: 0; no nav) */

    min-height: 8rem;

    background-image: linear-gradient(45deg, var(--cor-cabecalho1-e-links3), var(--cor-cabecalho2), var(--cor-cabecalho3-e-hover));

    padding: 0.5rem 0 0 0;
}

header > h1 {
    color: var(--cor-logo-e-links2);
    text-shadow: 1px 1px 1px var(--cor-sombra-e-strong);

    font: 2.5rem var(--fonte-logo);
    font-weight: 800;
    
    padding: 1rem 1rem 0 1rem;
}

header > p {
    color: var(--cor-logo-e-links2);
    
    font: 1.2rem var(--fonte-titulos);
    font-weight: 800;

    margin: 0.5rem 0 0 0;
    padding: 0 1rem 1rem 1rem;
}

a.externo::before {
    content: "🔗 ";
}

nav {
    position: relative;
    z-index: 0;

    background-image: linear-gradient(to bottom, var(--cor-sombra-e-strong), var(--cor-menu-e-footer), var(--cor-sombra-e-strong));
    box-shadow: 0 0 10px var(--cor-sombra-e-strong);

    padding: 1rem 0 1rem 1rem;
}

nav > a {
    white-space: nowrap; /* Impede a quebra de linha dentro do texto */

    color: var(--cor-aside-e-links1);

    margin: 0 1rem 0 0;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-radius: 1rem;
    transition-duration: 0.25s;

    font: 1rem var(--fonte-titulos);
    font-weight: 800;

    text-decoration: none;
}

nav > a:hover {
    background-color: var(--cor-cabecalho3-e-hover);
}

main {
    position: relative;
    z-index: 1; /* Empilha main sobre o footer (com a configuração de z-index: 0; no footer) */

    background-color: white;
    box-shadow: 0 0 10px var(--cor-sombra-e-strong);

    width: 100%;
    max-width: 1245px;
    margin: 0 auto;
    padding: 0.5rem;
}

main h2 {
    font: 2rem var(--fonte-titulos);
    font-weight: 800;
    
    text-align: center;
    text-decoration: underline;
}

main h3 {
    margin: 1rem 0 0 0;
    
    font: 1.8rem var(--fonte-titulos);
    font-weight: 600;
}

p {
    font: 1.2rem var(--fonte-padrao);
    font-weight: 500;

    text-align: justify;
}

main p {
    margin: 1rem 0;

    text-indent: 1.5rem;
    line-height: 1.2rem;
}

main p#ultimo {
    margin: 1rem 0 0 0;
    text-indent: 0;
}

main strong {
    color: var(--cor-sombra-e-strong);
}

main img.responsiva {
    width: 100%;
}

main img#fixa {
    display: block;

    width: 100%;
    max-width: 460px;
    height: auto; /* Mantém a proporção da imagem */

    margin: auto;
}

main div#video {
    background-color: var(--cor-sombra-e-strong);

    margin: 0 -0.5rem 0.5rem -0.5rem;
    padding: 0.2rem 0 51.7% 0;

    position: relative; /* Necessário para o posicionamento absoluto do iframe */
}

main div#video > iframe {
    position: absolute;

    top: 0.5%;
    left: 5%;
    width: 90%;
    height: 99%;
}

aside {
    background-color: var(--cor-aside-e-links1);

    margin: 0.5rem 0 0 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: 1px solid var(--cor-sombra-e-strong);
}

aside > h4 {
    background-image: linear-gradient(to right, var(--cor-cabecalho1-e-links3), var(--cor-cabecalho2), var(--cor-cabecalho3-e-hover));
    color: var(--cor-logo-e-links2);

    margin: -0.5rem -0.5rem 1rem -0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;

    font: 1.8rem var(--fonte-titulos);
    font-weight: 600;
}

aside > p {
    margin: 0;
}

aside > ul {
    list-style-type: "\2714\00A0";
    list-style-position: inside;
    columns: 2;

    margin: 0.5rem 0 0.5rem 3rem;
}

li {
    margin: 0.2rem 0;
}

aside a {
    white-space: nowrap;

    color: var(--cor-logo-e-links2);
    background-color: var(--cor-cabecalho1-e-links3);

    text-decoration: none;
    
    padding: 0 0.2rem 0 0.2rem;
    border-radius: 0.5rem;
}

aside a:hover {
    background-color: var(--cor-cabecalho3-e-hover);
    color: var(--cor-aside-e-links1);
}

footer {
    position: relative;
    z-index: 0;

    background-image: linear-gradient(to bottom, var(--cor-sombra-e-strong), var(--cor-menu-e-footer), var(--cor-sombra-e-strong));
    box-shadow: 0 0 10px var(--cor-sombra-e-strong);

    font-weight: 800;
    font-family: var(--fonte-titulos);

    padding: 1rem 0 1rem 1rem;
}

footer > p {
    color: white;

    text-align: center;
}

footer a {
    white-space: nowrap;
    
    color: var(--cor-aside-e-links1);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}